<p-breadcrumb [model]="items"></p-breadcrumb>
<table class="table table-bordered">
  <thead>
    <tr class="bg-dark text-light">
      <th>Categoria</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let categoria of categorias">
      <td>
        <strong>{{categoria.nome}}</strong><br>
        <small>{{categoria.descricao}}</small>
      </td>
      <td>
        <a [routerLink]="[categoria.id, 'edit']" class="btn btn-outline-info btn-sm mr-2">Editar</a>
        <button (click)="deleteCategoria(categoria)" class="btn btn-outline-danger btn-sm">Excluir</button>
      </td>
    </tr>
  </tbody>
</table>
